# el entorno virtual
venv/

# los archivos grandes / de modelos
*.gguf
*.dll
*.lib

# las cachés de Python
__pycache__/
*.pyc

# información del proyecto "no relevante"
.idea

# documentación pdf, txt y Database
pdfdata/*
txtdata/*
vector_db/*