# el entorno virtual
venv/

# las cachés de Python
__pycache__/

# información del proyecto "no relevante"
.idea

# documentación pdf, txt y database
data/pdfdata/*
!data/pdfdata/.gitkeep

data/txtdata/*
!data/txtdata/.gitkeep

data/vector_db/*
!data/vector_db/.gitkeep

model/
!model/.gitkeep
