# el entorno virtual
venv/

# las cachés de Python
__pycache__/

# información del proyecto "no relevante"
.idea
./uah_client.py
./uah_server.py

# documentación pdf, txt y database
pdfdata/*
!pdfdata/.gitkeep

txtdata/*
!txtdata/.gitkeep

vector_db/*
!vector_db/.gitkeep

model/
!model/.gitkeep
