# paquetes necesarios para data_extractor, vectorizer, llama_client y llama_server.

flask==3.0.3                       # usado por el servidor para proporcionar la API REST al cliente
faiss-cpu==1.9.0.post1             # usado por el vectorizer para crear y consultar la base de datos vectorial FAISS (versión CPU)
langchain==0.3.13                  # usado por el vectorizer y cliente para usar la estructura langchain base para las siguientes funciones
langchain-community==0.3.13        # usado por el vectorizer y cliente para cargar módulos comunitarios como FAISS y el docstore
langchain-huggingface==0.1.2       # usado por el vectorizer y cliente para generar y usar embeddings con el modelo de Hugging Face
transformers==4.47.0               # usado por el vectorizer para cargar el tokenizador del modelo de embeddings de Hugging Face
--extra-index-url https://download.pytorch.org/whl/cu126  # necesario para instalar la versión de PyTorch compatible con CUDA 12.6
torch==2.6.0+cu126                 # backend PyTorch usado por cliente y vectorizer para ejecutar modelos de embeddings
accelerate==1.2.0                  # usado por el servidor para optimizar la carga y ejecución de modelos de Hugging Face
numpy>=2.0.0                       # usado por el servidor para manejo numérico que conlleve arrays
PyMuPDF==1.25.0                    # (fitz) usado por el data_extractor para extraer texto de archivos PDF
requests==2.32.3                   # usado por el cliente para hacer peticiones al servidor Flask que dispone del LLM


# ya incluidos por python:

# os                              # usado por data_extractor y vectorizer para manejar rutas, directorios, archivos y operaciones del sistema de ficheros
# shutil                          # usado por data_extractor para eliminar directorios
# re                              # usado por data_extractor para limpiar y procesar texto mediante expresiones regulares
# logging                         # usado por vectorizer, cliente y servidor para controlar y personalizar la salida de mensajes, avisos y errores
# pickle                          # usado por el cliente para guardar y cargar los objetos serializados (por ejemplo, los índices)
# time                            # usado por el server para medir tiempos o controlar pausas en la ejecución
# hashlib                         # usado por el server para generar hashes, usándolos como identificadores o para comprobar la integridad
# asyncio                         # usado anteriormente por el cliente para manejar la ejecución de código asíncrono (actualmente no necesario)
# datetime                        # usado por el cliente para manejar fechas y horas
# threading                       # usado por el cliente para manejar operaciones en segundo plano
# tkinter                         # usado por el cliente para crear y tratar con la interfaz gráfica de usuario (GUI)